body{

    background-image: url(pozadina12.jpg);
    background-size: 100%;
}


.kontKoktelBar{

    display: flex;
    flex-direction: column;
    margin: 100px;
    /* background-color: darkgreen; */
    border: 2px  black;
    justify-content:space-between;
}


.naslov{

    text-align: center;
    color: rgb(255, 174, 0);
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    font-style:italic;
    font-size: 90px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex:1 0;
    align-self: center;
    position: static;
    margin: 50px;
    background-color: rgba(90, 223, 28, 0.52);
    border-radius: 10px;
}


.divZaElemente{

    display:flex;
    flex-direction: row;
    flex: 1 0;
    align-self: center;
    margin:5px;
    justify-content: space-around;
    flex-basis: 200px;
    /*max-width: 1500px;*/
    /* min-width: 400px; */
    /* min-height: 800px;
    min-width: 200px; */
    /*flex-shrink: 0;*/

    /* background-color: darkcyan; */
    /* background-color: rgb(255, 174, 0); */
    
}

/* dugme za ucitavanje kokel barova */
.dugmeUcitaj{

    /*font-family: italic;*/
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    text-align: center;

    background-color:rgb(26, 163, 26);
    color:rgb(245, 245, 245);

    border-radius: 10px;
    border:rgb(0, 0, 0);

    display: inline-block;
    align-self: center;
    margin-top: 20px;
    
    transition-duration: 0.4s;
    padding: 12px 28px;
    width:20%;
    position: relative;
    
}

.dugmeUcitaj:hover{
    background-color:rgb(24, 66, 5) ;
    color:rgb(255, 255, 255) ;
}

.klasaForma{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-self: flex-start;
    background-color: rgba(209, 217, 228, 0.431);
    border-radius: 10px;
 
}

.kontForma{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    margin: 20px;
    border: 1px none black;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 20px;
    /* padding: 100px; */

    
}

.naslov1{
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: rgb(35, 22, 148);
    
    
}

.brojStola, .ime, .prezime, .brojStola1, .brojLjudi{
    font-style: italic;
}

.labele{
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(12, 0, 11);
    border: 3px  rgb(0, 0, 0);
}

.stoKontejner{
    /* display: flex; */

    border: 1px none  rgb(0, 0, 0); 
    flex-basis: 50px;
    margin:20px;
    /* width: 200px;
    height: 100px; */
    text-align: center;
    font-size: 30px;
    /* font-style:italic; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 20px;
    right:150px;
    resize: none;

    max-width: 200px;
    /* max-height: 500px; */


    /* justify-content:space-between; */

    /* background-color: blueviolet; */

    /* flex-wrap: wrap; */
    /* background-color: rgb(226, 126, 126); */
    /* padding: 200px; */

    /*border: 2px none black; 
    flex-basis: 80px;
    height: 150px;   
    margin: 4px;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 12px;*/
}


.crtaniStolovi{
    /*display: flex;
    height:20px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;*/
    
    display: flex;
    /*flex-direction: column;*/
    
    height: 893px;
    /* width: 10px; */


    justify-content:space-evenly;
    /* align-items:flex-start; */
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    /* max-width: 60px; */
    /* border: 10px sold black;
    background-color: darkred;  */
       
    /* flex-grow: 1; */
    
    
}

.red{
    display: flex;
    flex-direction: row;
    /* background-color: darkred; */
}

.dugmici{
    font-style: italic;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:rgb(255, 255, 255);
    display: inline-block;
    border-radius: 12px;
    background-color:rgb(41, 85, 206) ;
    border:rgb(84, 86, 233);
    transition-duration: 0.4s;
    margin:5px;
    padding: 10px;
}

.dugmici:hover{
    background-color:rgb(209, 184, 39) ;
    color:rgb(41, 85, 206)  ;

}

.naruciDugme {

    font-size: 15px;
    text-align: center;
    /* padding: 2px; */
    /* margin:5px; */
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color:rgb(170, 217, 255) ;
    border: 1px rgb(0, 0, 0);

}

.naruciDugme:hover{
    background-color:rgb(16, 52, 110) ;
    color:rgb(255, 255, 255) ;
}